.button-panel{
    background-color: #858694;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.button-panel > div{
    width: 100%;
    margin-bottom: 1px;
    display: flex;
    flex: 1 0 auto;
}